.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    outline: none !important;
    padding: 0.5rem !important;
    color: #A1A1A1;
    font-size: 0.75rem;
}
.open {
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}

.close {
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
}